<!-- Main -->
<div class="container-fluid">
  <div class="row">

    <div class="col-sm-9">

      <div class="row">

        <!-- center left-->
        <div class="tag-header col-md-9">

          <span><%= @page.content.name %></span>

          <h1><i class="glyphicon glyphicon-book"></i> <%= @page.display_name %></h1>

          <span class="pull-left"><%= path_to_file(@page.file_path) %></span>
          <span class="pull-right">

            <a href="<%= page_download_path(@page.name) %>" class="btn btn-info">
              <span><i class="glyphicon glyphicon-download"></i>Baixe o arquivo padrão</span>
              </a>

          </span>

          <hr/>

          <div class="description">
            <%= @page.description %>
          </div>

          <div class="col-md-9">
            <ul class="nav nav-tabs" id="myTab">
              <li class="active">
                <a href="#sample-curly" data-toggle="tab">Código</a>
              </li>
              <li>
                <a href="#sample-html" data-toggle="tab">HTML</a>
              </li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="sample-curly">
                <div class="highlight">
                  <pre><code><%= @page.example_curly %></code></pre>
                </div>
              </div>
              <div class="tab-pane" id="sample-html">
                <div class="highlight">
                  <pre><code><%= @page.example_html %></code></pre>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-9">
          <h1>TAGS POSSÍVEIS EM EDIT.HTML.CURLY</h1>
          <ul>
            <% @page.tags.each do |tag| %>
                <li><%= link_to tag.tag_name, tag %></li>
            <% end %>
          </ul>
        </div>

        <div class="col-md-9">
          <h1>Templates relacionados</h1>
          <ul>
            <% @page.content.pages.each do |page| %>
                <li><%= link_to page.name, page %></li>
            <% end %>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
