<!-- Main -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9">

      <div class="row">

        <!-- center left-->
        <div class="tag-header col-md-9">

          <span>Tag</span>

          <h1><i class="glyphicon glyphicon-tag"></i> <%= @tag.name %></h1>

          <span class="pull-left"><%= @tag.to_curly(close: true) %></span>
          <span class="pull-right">Escopo: <%= @tag.contexts.map(&:name).join(',') %></span>

          <hr/>

          <div class="description">
            <%= @tag.description %>
          </div>

          <div class="col-md-9">
            <ul class="nav nav-tabs" id="myTab">
              <li class="active">
                <a href="#sample-curly" data-toggle="tab">Curly</a>
              </li>
              <li>
                <a href="#sample-html" data-toggle="tab">HTML (Resultado)</a>
              </li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="sample-curly">
                <div class="highlight">
                  <pre><code><%= @tag.example_curly %></code></pre>
                </div>
              </div>
              <div class="tab-pane" id="sample-html">
                <div class="highlight">
                  <pre><code><%= @tag.example_html %></code></pre>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%= @tag.additional_info %>

        <% if @tag.block? && @tag.parameters && @tag.parameters.any? %>
            <%= render 'elements/list_snippet', locals: {tag: @tag} %>
        <% end %>

        <div class="col-md-9">
          <h1>Templates relacionados</h1>
          <ul>
            <% @tag.pages.each do |page| %>
                <li><%= link_to page.name, page %></li>
            <% end %>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
